<body><br>
  <div class="container-fluid">
    <div class="border_radius">
      <h1>Modo</h1>
    </div>

  </div>
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="row py-0">
        <div class="col-md-1 d-flex justify-content-left my-2">Modelo:</div>
        <div class="col-md-3 justify-content-center my-2">
          <select class="form-select form-select-lg" aria-label="Select disease" [(ngModel)]="selectedFirstClassId"
            (ngModelChange)="onFirstClassChange($event)">
            <option disabled selected>{{env.placeholderFirstClass}}</option>
            <ng-container *ngFor="let sickness of firstClassList">
              <option [value]="sickness[0]">{{sickness[1]}}</option>
            </ng-container>
          </select>
        </div>
        <div class="col-md-3 justify-content-center my-2">
          <select class="form-select form-select-lg mb-1" aria-label=".form-select-lg example" data-bs-toggle="tooltip"
            [(ngModel)]="selectedSecondClassId" (ngModelChange)="onSecondClassChange($event)"
            [disabled]="secondClassSelectDisable" title="Esta selección es opcional">
            <option selected>{{env.placeholderSecondClass}}</option>
            <ng-container *ngFor="let group of secondClassList">
              <option [value]="group[0]">{{group[1]}}</option>
            </ng-container>
          </select>
        </div>
        <div class="col-md-3 my-2">
          <select class="form-select form-select-lg mb-1" aria-label=".form-select-lg example" data-bs-toggle="tooltip"
            [(ngModel)]="selectedThirdClassId" [disabled]="thirdClassSelectDisable" title="Esta selección es opcional">
            <option selected>{{env.placeholderThirdClass}}</option>
            <ng-container *ngFor="let cause of thirdClassList">
              <option [value]="cause[0]">{{cause[1]}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="row py-0 h-25">
        <div class="col-md-1 d-flex justify-content-left my-2">
          Filtrar por:
        </div>

        <div class="col-md-2 d-flex justify-content-center my-2">
          <select class="form-select form-select-lg" aria-label=".form-select-lg example" [(ngModel)]="selectedAge">
            <option selected>{{env.placeholderAge}}</option>
            <ng-container *ngFor="let age of agesList">
              <option [value]="age">{{age}}</option>
            </ng-container>
          </select>
        </div>
        <div class="col-md-2 d-flex justify-content-center my-2">
          <select class="form-select form-select-lg" aria-label=".form-select-lg example" [(ngModel)]="selectedGender">
            <option selected>{{env.placeholderGender}}</option>
            <ng-container *ngFor="let genderId of gendersList">
              <option [value]="genderId">{{gendersDict[genderId]}}</option>
            </ng-container>
          </select>
        </div>
        <div class="col-md-2 d-flex justify-content-center my-2">
          <select class="form-select form-select-lg" aria-label=".form-select-lg example" [(ngModel)]="selectedRegion" (change)="showingModalsFromSelect()">
            <option value={{env.placeholderCountry}} selected>Todo el país</option>
            <option value={{env.placeholderState}}>Estado</option>
            <option value={{env.placeholderMunicipal}}>Municipio</option>
            <option value={{env.placeholderMetropoli}}>Metropli</option>
          </select>
        </div>
        <div class="col-md-2 d-flex justify-content-center my-2">
          <select class="form-select form-select-lg" aria-label=".form-select-lg example"
            [(ngModel)]="selectedResolution">
            <option *ngIf="selectedRegion != env.placeholderMunicipal" value={{env.placeholderStateResolution}}>Estatal</option>
            <option value={{env.placeholderMunResolution}} selected>Municipal</option>
          </select>
        </div>
        <div class="col-md-2 d-flex justify-content-center my-2">
          <select class="form-select form-select-lg" aria-label=".form-select-lg example" [(ngModel)]="selectedYear">
            <option selected>{{selectedYear}}</option>
            <ng-container *ngFor="let year of yearsList">
              <option [value]="year">{{year}}</option>
            </ng-container>
          </select>
        </div>
        <div class="col-md-1 justify-content-center my-2">
          <button class="updateButton" (click)="updateTheDataForTheMap()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid map-container">
    <div class="row">
      <div class="col-lg-4 p-0 mb-3">
        <div class="jumbotron">
          <div class="row">
          </div>
          <h6>Modelo actual</h6>
          <h4>
            {{getDescriptionByIdInAList(selectedFirstClassId, firstClassList)}}
          </h4>
          <h4>{{getDescriptionByIdInAList(selectedSecondClassId,secondClassList)}}</h4>
          <h4>{{getDescriptionByIdInAList(selectedThirdClassId, thirdClassList)}}</h4>

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Estado</th>
                <th scope="col">Número</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="updatedResolution == env.placeholderStateResolution; else municipal">
              <tr *ngFor="let state of top10States">
                <td>{{getStateName(state[0])}}</td>
                <td>{{state[1]}}</td>
              </tr>
              </ng-container>
              <ng-template #municipal>
              <tr *ngFor="let mun of top10Municipalities">
                <td>{{getStateName(mun[0])}} - {{getMunicipalityName(mun[1])}}</td>
                <td>{{mun[2]}}</td>
              </tr>
              </ng-template>
            </tbody>
          </table>

          <div class="row">
            <button id="boton_detalles" style="margin-bottom:15%" class="borderedButton" hidden>Ver información
              detallada</button>
          </div>
        </div>
      </div>
      <div class="col-lg-8 map-section">

        <div class="row row-map">
          <app-map [updatedResolution]="updatedResolution" [dataByMunToDisplayInMap]="dataByMunToDisplayInMap" [selectedCVEState]="selectedCVEState" [selectedCVEMun]="selectedCVEMun" [statesAndMunList]="statesAndMunList">
          </app-map>
        </div>
      </div>
    </div>
  </div>
</body>

<button #showStateModal [hidden]="true"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#stateModal">
  Launch demo modal
</button>
<button #showMunModal [hidden]="true"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#municipality">
  Launch demo modal2
</button>
<!--- Modals --->
<div class="modal fade" id="stateModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estado</h5>
        <button type="button" class="btn-close" (click)="closingModal('municipio')" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="exampleDataList">Seleccione el estado: </label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" [(ngModel)]="selectedState"
          placeholder="Escriba para buscar...">
        <datalist id="datalistOptions">
          <ng-container *ngFor="let state of statesNameList">
            <option>{{ state }}</option>
          </ng-container>
        </datalist>
      </div>
      <div class="modal-footer">
        <button type="button" [hidden]="true" class="btn btn-secondary" #modalState
          data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="selectStateInModal()">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="municipality" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Municipio</h5>
        <button type="button" class="btn-close" (click)="closingModal('municipio')" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="exampleDataList">Seleccione el estado: </label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" [(ngModel)]="selectedState" (change)="onStateModalInputChange($event)"
          placeholder="Escriba para buscar...">
        <datalist id="datalistOptions">
          <ng-container *ngFor="let state of statesNameList">
            <option>{{ state }}</option>
          </ng-container>
        </datalist><br>
        <label for="exampleDataList">Seleccione el municipio: </label>
        <input class="form-control" list="datalistOptions2" id="exampleDataList" [(ngModel)]="selectedMuncipality"
          placeholder="Escriba para buscar..." >
        <datalist id="datalistOptions2">
          <ng-container *ngFor="let item of munNameList">
            <option value="{{item[3]}}">
          </ng-container>
        </datalist>
      </div>
      <div class="modal-footer">
        <button type="button" [hidden]="true" class="btn btn-secondary" #modalMun data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="verifyDataInMunModal()">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
