<body><br>
  <div class="container-fluid">
    <div class="border_radius">
      <h1>Modo</h1>
    </div>

  </div>
   <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="row py-0 h-25 g-2">

        <div class="col-1 d-flex justify-content-center my-3">Modelo:</div>
        <div class="col-md-3 justify-content-center my-3">
          <select class="form-select form-select-lg" aria-label="Select disease"
                      [(ngModel)]="selectedSickness" (ngModelChange)="onSicknessChange($event)">
                      <option disabled selected>Selecciona una opción</option>
                      <ng-container *ngFor="let sickness of sicknessList">
                        <option [value]="sickness[0]">{{sickness[1]}}</option>
                      </ng-container>
                    </select>
        </div>
        <div class="col-md-3 justify-content-center my-3">
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                      [(ngModel)]="selectedGroupClass" (ngModelChange)="onGroupClassChange($event)"
                      [disabled]="groupSelectDisable">
                      <option disabled selected>Selecciona una opción</option>
                      <ng-container *ngFor="let group of groupList">
                        <option [value]="group[0]">{{group[1]}}</option>
                      </ng-container>
                    </select>
        </div>
        <div class="col-md-3 my-3">
          <select class="form-select form-select-lg mb-3 smaller-select" aria-label=".form-select-lg example"
                      [(ngModel)]="selectedCauseDeathClass" (ngModelChange)="onCauseDeathChange($event)"
                      [disabled]="causeDeathSelectDisable">
                      <option disabled selected>Selecciona una opción</option>
                      <ng-container *ngFor="let cause of listOfThirdClass">
                        <option [value]="cause[0]">{{cause[1]}}</option>
                      </ng-container>
                    </select>
        </div>
        
        
      </div>
      <div class="row py-0 h-25">
        <div class="col-1 d-flex justify-content-center my-3">
          Filtrar por:
        </div>
        
        <div class="col-md-2 d-flex justify-content-center my-3">
          <select class="form-select form-select-lg" aria-label=".form-select-lg example">
            <option selected>Todas las edades</option>
          </select>
        </div>
        <div class="col-md-2 d-flex justify-content-center my-3">
          <select class="form-select form-select-lg" aria-label=".form-select-lg example">
            <option selected>Todos los géneros</option>
          </select>
        </div>
        <div class="col-md-2 d-flex justify-content-center my-3">
          <select class="form-select form-select-lg" aria-label=".form-select-lg example" [(ngModel)]="selectedRegion">
            <option value='País' selected>Todo el país</option>
            <option value='Estado'>Estado</option>
            <option value='Municipio'>Municipio</option>
            <option value='Metropli'>Metropli</option>
          </select>
        </div>
        <div class="col-md-2 d-flex justify-content-center my-3">
          <select class="form-select form-select-lg" aria-label=".form-select-lg example"
            [(ngModel)]="selectedResolution">
            <option selected>Estatal</option>
            <option>Municipal</option>
          </select>
        </div>
        <ng-container *ngIf="selectedRegion == 'Metropli'">
          <div class="col-3 d-flex justify-content-center my-3">
            <select class="form-select form-select-lg" aria-label=".form-select-lg example">
              <option disabled selected>Selecciona Metropli</option>
            </select>
          </div>
        </ng-container>
        <div class="col-md-2 d-flex justify-content-center my-3">
          <select class="form-select form-select-lg" aria-label=".form-select-lg example">
            <option selected>Año</option>
          </select>
        </div>
        <div class="col-md-1 justify-content-center my-3">
          <button class="updateButton" (click)="updateResolution()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
 
  <div class="container-fluid p-0 map-container">
    <div class="row">
      <div class="col-lg-4 p-0 mb-3">
        <div class="jumbotron">
          <div class="row">
          </div><br><br>
          Modelo actual:
          <h3>
            {{getDescriptionByIdInAList(selectedSickness,sicknessList)}}
          </h3>
          <h4>{{selectedGroupClass}}</h4>
          <h4>{{selectedCauseDeathClass}}</h4>

          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Estado</th>
                  <th scope="col">Número</th>
                </tr>
              </thead>
              <tbody>
                <!-- <ng-container *ngFor="let state of stateList;index as i"> -->
                  <tr>
                    <td>running</td>
                    <td>again</td>
                  </tr>
                <!-- </ng-container> -->
              </tbody>
            </table>

          <div class="row">
            <button id="boton_detalles" style="margin-bottom:15%" class="borderedButton" hidden>Ver información
              detallada</button>
          </div>
        </div>
      </div>
      <div class="col-lg-8 p-0 map-section">

        <div class="row row-map">
          <app-map [updatedResolution]="updatedResolution"></app-map>
        </div>
      </div>
    </div>
  </div>
</body>