<body><br>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-2">
        <h4>Modo</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="row py-0">
        <div class="col-md-1 d-flex justify-content-left my-2">Modelo:</div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-4 justify-content-center my-2">
              <mat-select [(ngModel)]="selectedFirstClassId" class="bootstrap-style-mat-select"
                (ngModelChange)="onFirstClassChange($event)">
                <mat-option [value]="env.placeholderFirstClass" disabled selected>{{env.placeholderFirstClass}}</mat-option>
                <ng-container *ngFor="let sickness of firstClassList">
                  <mat-option [value]="sickness[0]">{{sickness[1]}}</mat-option>
                </ng-container>
              </mat-select>
            </div>
            <div class="col-md-4 justify-content-center my-2">
              <mat-select [(ngModel)]="selectedSecondClassId" class="bootstrap-style-mat-select"
                [disabled]="secondClassSelectDisable" (ngModelChange)="onSecondClassChange($event)"
                title="Esta selección es opcional" data-bs-toggle="tooltip">
                <mat-option [value]="env.placeholderSecondClass" selected>{{env.placeholderSecondClass}}</mat-option>
                <ng-container *ngFor="let group of secondClassList">
                  <mat-option [value]="group[0]">{{group[1]}}</mat-option>
                </ng-container>
              </mat-select>
            </div>
            <div class="col-md-4 my-2">
              <mat-select [(ngModel)]="selectedThirdClassId" class="bootstrap-style-mat-select"
                [disabled]="thirdClassSelectDisable" title="Esta selección es opcional" data-bs-toggle="tooltip">
                <mat-option [value]="env.placeholderThirdClass" selected>{{env.placeholderThirdClass}}</mat-option>
                <ng-container *ngFor="let cause of thirdClassList">
                  <mat-option [value]="cause[0]">{{cause[1]}}</mat-option>
                </ng-container>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-0 h-25 ">
        <div class="col-md-1 d-flex justify-content-left my-2">Filtrar por:</div>
        <div class="col-md-2 d-flex justify-content-center my-2">
          <mat-select [(ngModel)]="selectedAge" class="bootstrap-style-mat-select">
            <mat-option [value]="env.placeholderAge" selected>{{env.placeholderAge}}</mat-option>
            <ng-container *ngFor="let age of agesList">
              <mat-option [value]="age[0]">{{age[0] ? age + " Años" : "Sin especificar" }}</mat-option>
            </ng-container>
          </mat-select>
        </div>
        <div class="col-md-2 d-flex justify-content-center my-2">
          <mat-select [(ngModel)]="selectedGender" class="bootstrap-style-mat-select">
            <mat-option [value]="env.placeholderGender" selected>{{env.placeholderGender}}</mat-option>
            <ng-container *ngFor="let genderId of gendersList">
              <mat-option [value]="genderId">{{gendersDict[genderId]}}</mat-option>
            </ng-container>
          </mat-select>
        </div>
        <div class="col-md-2 d-flex justify-content-center my-2">
          <mat-select [(ngModel)]="selectedRegion" (ngModelChange)="showingModalsFromSelect()" class="bootstrap-style-mat-select">
            <mat-option value={{env.placeholderCountry}}  (click)="showingModalsFromSelect()" selected>Todo el país </mat-option>
            <mat-option value={{env.placeholderState}}  (click)="showingModalsFromSelect()" selected>{{env.placeholderState}}</mat-option>
            <mat-option value={{env.placeholderMunicipal}}  (click)="showingModalsFromSelect()">{{env.placeholderMunicipal}} </mat-option>
            <mat-option value={{env.placeholderMetropoli}} (click)="showingMetropoliModal()">{{env.placeholderMetropoli}}</mat-option>
          </mat-select>
        </div>
        <div class="col-md-2 d-flex justify-content-center my-2">
          <mat-select [(ngModel)]="selectedResolution" class="bootstrap-style-mat-select">
            <mat-option *ngIf="selectedRegion!=env.placeholderMunicipal" value={{env.placeholderStateResolution}}>{{env.placeholderStateResolution}}</mat-option>
            <mat-option value={{env.placeholderMunResolution}} selected>{{env.placeholderMunResolution}}</mat-option>
          </mat-select>
        </div>
        <div class="col-md-2 d-flex my-2">
          <div class="select-with-button">
            <mat-select class="mat-select"
                        [(ngModel)]="selectedYear"
                        panelClass="custom-select-panel">
              <ng-container *ngFor="let year of yearsList">
                <mat-option [value]="year">{{year}}</mat-option>
              </ng-container>
            </mat-select>
            <button mat-icon-button
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#periodModal">
              <mat-icon>date_range</mat-icon>
            </button>
          </div>
        </div>        <!-- <div class="col-1 d-flex justify-content-center my-2"> -->
        <div class="col-lg-1 d-flex justify-content-center  my-2">
          <button class="updateButton" (click)="updateTheDataForTheMap()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid map-container">
    <div class="row">
      <div class="col-lg-12 map-section">
        <div class="row row-map">
          <app-map [updatedResolution]="updatedResolution"
            [updatedRegion]="updatedRegion"
            [dataByMunToDisplayInMap]="dataByMunToDisplayInMap"
            [selectedCVEState]="selectedCVEState"
            [selectedCVEMun]="selectedCVEMun"
            [statesAndMunList]="statesAndMunList"
            [selectedYear]="selectedYear"
            [selectedMetropoly]="selectedMetropoly"
            [stateNames]="stateNames"
            [municipalityNames]="municipalityNames"
            [totalCases]="totalCases"
            [totalPopulationWithFilters]="totalPopulationWithFilters"
            [selectedAge] = "selectedAge"
            [selectedGender] = "selectedGender">
          </app-map>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid detail_info">
  <br>
    <h3 class="mb-4">Información detallada</h3>

  <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent px-0">
        <li class="breadcrumb-item" *ngIf="selectedFirstClassId != env.placeholderFirstClass">
          <div class="d-flex align-items-center gap-2">
            <span class="material-symbols-outlined text-danger breadcrumb-icon">ecg_heart</span>
            <span>{{getDescriptionByIdInAList(selectedFirstClassId, firstClassList)}}</span>
          </div>
        </li>
        <li class="breadcrumb-item" *ngIf="selectedSecondClassId != env.placeholderSecondClass">
          <div class="d-flex align-items-center gap-2">
            <span class="material-symbols-outlined text-primary breadcrumb-icon">ad_group</span>
            <span>{{getDescriptionByIdInAList(selectedSecondClassId, secondClassList)}}</span>
          </div>
        </li>
        <li class="breadcrumb-item" aria-current="page" *ngIf="selectedThirdClassId != env.placeholderThirdClass">
          <div class="d-flex align-items-center gap-2">
            <span class="material-symbols-outlined text-success breadcrumb-icon">stacks</span>
            <span>{{getDescriptionByIdInAList(selectedThirdClassId, thirdClassList)}}</span>
          </div>
        </li>
      </ol>
  </nav><br>
    <div class="row">
    <!-- Top 10 Estados -->
      <div class="col-lg-5 mb-4">
        <div class="card shadow-sm">
          <div class="card-header d-flex align-items-center">
            <mat-icon class="me-2"> show_chart</mat-icon>Top 10 {{updatedResolution == env.placeholderStateResolution ? "Estados" : "Municipios"}} con más casos
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-hover table-sm mb-0">
                <thead class="table-light">
                  <tr>
                    <th class="text-center">#</th>
                    <th>Estado</th>
                    <th class="text-center">Casos</th>
                    <th class="text-center">Tasa</th>
                  </tr>
                </thead>
                <tbody class="table-body">
                  <ng-container *ngIf="updatedResolution == env.placeholderStateResolution; else municipal">
                    <tr *ngFor="let state of top10States; let i = index">
                      <td class="text-center">{{i+1}}</td>
                      <td>{{getStateName(state[0])}}</td>
                      <td class="text-center">{{state[1].toLocaleString('en-US')}}</td>
                      <td class="text-center">{{state[2].toFixed(4)}}</td>
                    </tr>
                  </ng-container>
                  <ng-template #municipal>
                    <tr *ngFor="let mun of top10Municipalities; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{getStateName(mun[0])}} - {{getMunicipalityName(mun[1])}}</td>
                      <td class="text-center">{{mun[2]}}</td>
                      <td class="text-center">{{mun[3].toFixed(4)}}</td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 mb-7">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
              <div class="card-header d-flex align-items-center">
                <mat-icon class="me-2">perm_contact_calendar</mat-icon>Total de casos por grupo de edad
              </div>
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table table-hover table-sm">
                    <thead class="table-light">
                      <tr>
                        <th class="ps-3">Edad</th>
                        <th class="text-center">Casos</th>
                      </tr>
                    </thead>
                    <tbody class="table-body">
                      <tr *ngFor="let total of showAgeTotals">
                        <td class="ps-3">{{total[0]}}</td>
                        <td class="text-center">{{total[1]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
              <div class="card-header d-flex align-items-center">
                <mat-icon class="me-2">people</mat-icon>Distribución por género
              </div>
              <div class="card-body">
                <div class="row text-center">
                  <div class="col-md-4" *ngFor="let total of showGenderTotals">
                    <div class="p-2">
                      <h4 class="text-info fw-bold"> {{total[1]}}</h4>
                      <p class="mb-0"> {{total[0]}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
  </div><br>

  <div class="container">

    <div class="row">
      <div class="col-md-3 justify-content-center">
        <h2>Seleccione una covariable</h2>
      </div>
      <div class="row">
        <div class="col">
          <mat-select [(ngModel)]="selectedCategory" class="bootstrap-style-mat-select">
            <mat-option [value]="env.placeholderCategory" disabled selected>{{env.placeholderCategory}}</mat-option>
            <ng-container *ngFor="let category of categoryList">
              <mat-option [value]="category">{{category}}</mat-option>
            </ng-container>
          </mat-select>
        </div>
        <div class="col-lg-1 d-flex justify-content-center">
          <button class="updateButton" (click)="selectACategory()">Seleccionar</button>
        </div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-12 table-responsive">
      <ng-container *ngIf="calculatedVariables.length <= 0; else showData">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <h4>No hay datos disponibles</h4>
          </div>
        </div>
      </ng-container>
      <ng-template #showData>
      <table class="table table-hover table-sm">
          <thead class="table-header">
            <tr>
              <th (click)="sortTableBy('category')">
                Categoría
                <span class="sort-icon">
                  <ng-container *ngIf="currentSortColumn === 'category'">
                    {{ currentSortOrder === 'asc' ? '↑' : '↓' }}
                  </ng-container>
                  <ng-container *ngIf="currentSortColumn !== 'category'">↕</ng-container>
                </span>
              </th>
              <ng-container *ngIf="seeExtraColumnsInCategory">
                <th class="text-center" (click)="sortTableBy('ncx')">
                  ncx
                  <span class="sort-icon">
                    <ng-container *ngIf="currentSortColumn === 'ncx'">
                      {{ currentSortOrder === 'desc' ? '↑' : '↓' }}
                    </ng-container>
                    <ng-container *ngIf="currentSortColumn !== 'ncx'">↕</ng-container>
                  </span>
                </th>
                <th class="text-center" (click)="sortTableBy('nc')">
                  nc
                  <span class="sort-icon">
                    <ng-container *ngIf="currentSortColumn === 'nc'">
                      {{ currentSortOrder === 'desc' ? '↑' : '↓' }}
                    </ng-container>
                    <ng-container *ngIf="currentSortColumn !== 'nc'">↕</ng-container>
                  </span>
                </th>
                <th class="text-center" (click)="sortTableBy('nx')">
                  nx
                  <span class="sort-icon">
                    <ng-container *ngIf="currentSortColumn === 'nx'">
                      {{ currentSortOrder === 'desc' ? '↑' : '↓' }}
                    </ng-container>
                    <ng-container *ngIf="currentSortColumn !== 'nx'">↕</ng-container>
                  </span>
                </th>
                <th class="text-center" (click)="sortTableBy('n')">
                  n
                  <span class="sort-icon">
                    <ng-container *ngIf="currentSortColumn === 'n'">
                      {{ currentSortOrder === 'desc' ? '↑' : '↓' }}
                    </ng-container>
                    <ng-container *ngIf="currentSortColumn !== 'n'">↕</ng-container>
                  </span>
                </th>
              </ng-container>
              <th class="text-center" (click)="sortTableBy('epsilon')">
                epsilon
                <span class="sort-icon">
                  <ng-container *ngIf="currentSortColumn === 'epsilon'">
                    {{ currentSortOrder === 'desc' ? '↑' : '↓' }}
                  </ng-container>
                  <ng-container *ngIf="currentSortColumn !== 'epsilon'">↕</ng-container>
                </span>
              </th>
              <th class="text-center" (click)="sortTableBy('score')">
                score
                <span class="sort-icon">
                  <ng-container *ngIf="currentSortColumn === 'score'">
                    {{ currentSortOrder === 'desc' ? '↑' : '↓' }}
                  </ng-container>
                  <ng-container *ngIf="currentSortColumn !== 'score'">↕</ng-container>
                </span>
              </th>
              <th class="text-center" (click)="sortTableBy('log_lift')">
                log_lift
                <span class="sort-icon">
                  <ng-container *ngIf="currentSortColumn === 'log_lift'">
                    {{ currentSortOrder === 'desc' ? '↑' : '↓' }}
                  </ng-container>
                  <ng-container *ngIf="currentSortColumn !== 'log_lift'">↕</ng-container>
                </span>
              </th>
              <th class="text-center" (click)="sortTableBy('RR')">
                RR
                <span class="sort-icon">
                  <ng-container *ngIf="currentSortColumn === 'RR'">
                    {{ currentSortOrder === 'desc' ? '↑' : '↓' }}
                  </ng-container>
                  <ng-container *ngIf="currentSortColumn !== 'RR'">↕</ng-container>
                </span>
              </th>
              <th class="text-center" (click)="sortTableBy('SE_loglist')">
                SE_loglist
                <span class="sort-icon">
                  <ng-container *ngIf="currentSortColumn === 'SE_loglist'">
                    {{ currentSortOrder === 'desc' ? '↑' : '↓' }}
                  </ng-container>
                  <ng-container *ngIf="currentSortColumn !== 'SE_loglist'">↕</ng-container>
                </span>
              </th>
              <th class="text-center" (click)="sortTableBy('ICinf')">
                ICinf
                <span class="sort-icon">
                  <ng-container *ngIf="currentSortColumn === 'ICinf'">
                    {{ currentSortOrder === 'desc' ? '↑' : '↓' }}
                  </ng-container>
                  <ng-container *ngIf="currentSortColumn !== 'ICinf'">↕</ng-container>
                </span>
              </th>
              <th class="text-center" (click)="sortTableBy('ICsup')">
                ICsup
                <span class="sort-icon">
                  <ng-container *ngIf="currentSortColumn === 'ICsup'">
                    {{ currentSortOrder === 'desc' ? '↑' : '↓' }}
                  </ng-container>
                  <ng-container *ngIf="currentSortColumn !== 'ICsup'">↕</ng-container>
                </span>
              </th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr *ngFor="let variable of calculatedVariables">
                  <td>{{variable["category"]}}</td>
                  <ng-container *ngIf="seeExtraColumnsInCategory">
                    <td>{{variable["ncx"] | number:'1.0-0'}}</td>
                    <td>{{variable["nc"] | number:'1.0-0'}}</td>
                    <td>{{variable["nx"] | number:'1.0-0'}}</td>
                    <td>{{variable["n"] | number:'1.0-0'}}</td>
                  </ng-container>
                  <td class="text-center">{{variable["epsilon"] }}</td>
                  <td class="text-center">{{variable["score"] }}</td>
                  <td class="text-center">{{variable["log_lift"] }}</td>
                  <td class="text-center">{{variable["RR"] }}</td>
                  <td class="text-center">{{variable["SE_loglist"] }}</td>
                  <td class="text-center">{{variable["ICinf"] }}</td>
                  <td class="text-center">{{variable["ICsup"] }}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <button class="btn btn-primary" (click)="downloadCSV()">
          <i class="bi bi-download"></i> Descargar CSV
        </button>
        <button (click)="toggleExtraColumns()"> {{ seeExtraColumnsInCategory ? 'Ocultar' : 'Ver' }} información detallada de la tabla</button>
      </div>
    </div>
  </div><br><br><br>
</body>

<!-- Modals -->

<button #showStateModal [hidden]="true"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#stateModal">
  Launch demo modal
</button>
<button #showMunModal [hidden]="true"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#municipality">
  Launch demo modal2
</button>
<button #showMetroModal [hidden]="true" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#metropoli">
  Launch demo modal2
</button>
<button #showPeriodModal [hidden]="true" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#periodModal">
  Launch demo modal
</button>


<!--- Modals --->
<div class="modal fade" id="stateModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estado</h5>
        <button type="button" class="btn-close" (click)="closingModal()" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="exampleDataList">Seleccione el estado: </label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" [(ngModel)]="selectedState"
          placeholder="Escriba para buscar...">
        <datalist id="datalistOptions">
          <ng-container *ngFor="let state of statesNameList">
            <option>{{ state }}</option>
          </ng-container>
        </datalist>
      </div>
      <div class="modal-footer">
        <button type="button" [hidden]="true" class="btn btn-secondary" #modalState
          data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="selectStateInModal()">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="municipality" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Municipio</h5>
        <button type="button" class="btn-close" (click)="closingModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="exampleDataList">Seleccione el estado: </label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" [(ngModel)]="selectedState" (change)="onStateModalInputChange($event)"
          placeholder="Escriba para buscar...">
        <datalist id="datalistOptions">
          <ng-container *ngFor="let state of statesNameList">
            <option>{{ state }}</option>
          </ng-container>
        </datalist><br>
        <label for="exampleDataList">Seleccione el municipio: </label>
        <input class="form-control" list="datalistOptions2" id="exampleDataList" [(ngModel)]="selectedMuncipality"
          placeholder="Escriba para buscar..." >
        <datalist id="datalistOptions2">
          <ng-container *ngFor="let item of munNameList">
            <option value="{{item[3]}}">
          </ng-container>
        </datalist>
      </div>
      <div class="modal-footer">
        <button type="button" [hidden]="true" class="btn btn-secondary" #modalMun data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="verifyDataInMunModal()">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="metropoli" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Metropoli</h5>
        <button type="button" class="btn-close" (click)="closingModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="exampleDataList">Seleccione una metropoli: </label><br>
        <!-- <input class="form-control" list="datalistOptions2" id="exampleDataList" [(ngModel)]="selectedMuncipality" -->
        <select class="w-100" (change)="updateMetropoly($event)" >
            <option value="{{env.selectedMetropoli}}" selected>{{env.selectedMetropoli}}</option>
          <ng-container *ngFor="let item of metropolyList">
            <option value="{{item[0]}}">{{item[1]}}</option>
          </ng-container>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" [hidden]="true" class="btn btn-secondary" #closeMetroModal data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="verifyDataInMetroModal()">Seleccionar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="periodModal" tabindex="-1" aria-labelledby="periodModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="periodModalLabel">Seleccionar periodo</h5>
        <button type="button" class="btn-close" (click)="closingPeriodModal()" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <!-- Selection Modes (Tabs) -->
      <div class="modal-body p-0">
        <div class="p-3 border-bottom">
          <ul class="nav nav-pills nav-fill flex-nowrap" id="periodModeTabs">
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="search-tab" data-bs-toggle="pill" data-bs-target="#search-mode" type="button" role="tab" aria-controls="search-mode" aria-selected="true">
                Mes
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="list-tab" data-bs-toggle="pill" data-bs-target="#list-mode" type="button" role="tab" aria-controls="list-mode" aria-selected="false">
                Estación
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="year-tab" data-bs-toggle="pill" data-bs-target="#year-mode" type="button" role="tab" aria-controls="year-mode" aria-selected="false">
                Año
              </button>
            </li>
          </ul>
        </div>

        <!-- Content Area for Modes -->
        <div class="tab-content p-4" style="min-height: 300px; max-height: 400px; overflow-y: auto;">

          <!-- Month Mode -->
          <div class="tab-pane fade" id="search-mode" role="tabpanel" aria-labelledby="search-tab">
            <h6 class="text-center mb-4">Seleccionar Mes de {{selectedYear}}</h6>
            <div class="row row-cols-3 g-3 mb-4">
              <div class="col" *ngFor="let month of monthsList">
                <button type="button" class="btn btn-month w-100 py-2"
                  [class.active]="selectedMonth === month.value"
                  (click)="selectedMonth = month.value">
                  {{month.name}}
                </button>
              </div>
            </div>
            <div class="mt-3">
              <label for="yearSelect" class="form-label">Seleccionar Año:</label>
              <select id="yearSelect" [(ngModel)]="selectedYear" class="form-select">
                <ng-container *ngFor="let year of yearsList">
                  <option [value]="year">{{year}}</option>
                </ng-container>
              </select>
            </div>
          </div>


          <!-- List Mode -->
          <div class="tab-pane fade" id="list-mode" role="tabpanel" aria-labelledby="list-tab">
            <h6 class="text-center mb-4">Seleccionar Temporada</h6>
            <div class="row row-cols-2 g-3 mb-3">
              <div class="col">
                <button type="button" class="btn btn-season w-100 py-3" [class.active]="selectedSeason === 'primavera'" (click)="selectedSeason = 'primavera'">
                  <div class="season-title">Primavera {{selectedYear}}</div>
                  <div class="season-months">(Mar - May)</div>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-season w-100 py-3" [class.active]="selectedSeason === 'verano'" (click)="selectedSeason = 'verano'">
                  <div class="season-title">Verano {{selectedYear}}</div>
                  <div class="season-months">(Jun - Ago)</div>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-season w-100 py-3" [class.active]="selectedSeason === 'otoño'" (click)="selectedSeason = 'otoño'">
                  <div class="season-title">Otoño {{selectedYear}}</div>
                  <div class="season-months">(Sep - Nov)</div>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-season w-100 py-3" [class.active]="selectedSeason === 'invierno'" (click)="selectedSeason = 'invierno'">
                  <div class="season-title">Invierno {{selectedYear}}</div>
                  <div class="season-months">(Dic - Feb)</div>
                </button>
              </div>
            </div>
            <div class="mt-3">
              <label for="yearSelect" class="form-label">Seleccionar Año:</label>
              <select [(ngModel)]="selectedYear" class="form-select">
                <ng-container *ngFor="let year of yearsList">
                  <option [value]="year">{{year}}</option>
                </ng-container>
              </select>
            </div>
          </div>

          <!-- Year Mode -->

          <div class="tab-pane show active fade" id="year-mode" role="tabpanel" aria-labelledby="year-tab">
            <h6 class="text-center mb-4">Seleccionar Año</h6>
            <div class="row row-cols-4 g-3">
              <ng-container *ngFor="let year of yearsList">
                <div class="col">
                  <button type="button" class="btn w-100 py-2" [class.btn-primary]="selectedYear === year" [class.btn-outline-secondary]="selectedYear !== year" (click)="selectedYear = year">
                    {{ year }}
                  </button>
                </div>
              </ng-container>
            </div>
          </div>

        </div>
      </div>

      <!-- Footer Buttons -->
      <div class="modal-footer">
        <button type="button" [hidden]="true" class="btn btn-secondary" #closePeriodModal data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="verifyPeriodSelectedcModal()">Seleccionar</button>
      </div>
    </div>
  </div>
</div>

