.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
}

.not-found-container h1 {
  font-size: 8rem;
  margin: 0;
  color: #333;
}

.not-found-container h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

.not-found-container a {
  background-color: #6072b4;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  color: white;
  text-decoration: none;
  border-radius: 15px;
}
